/* Navbar Styles */
.navbar {
    height: 60px;
    /* background: linear-gradient(to right, #FD746C, #2C3E50); */
    background-color: rgb(236, 236, 236);
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
    /* border-bottom: 1px solid black; */
}

/* Logo */
.logo {
    filter: brightness(0);
}

/* Navigation Links */
.navLinks {
    display: flex;
    gap: 20px;
}

.links {
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-weight: 500;
}

.links:hover {
    color: darkgray;
    border-bottom: 1px solid gray;
}

/* Mobile Menu Button */
.menuIcon {
    display: none;
    cursor: pointer;
}

.logOutBtn{
    background-color: transparent;
    padding: 6px 14px;
}

/* Mobile Styles */
@media (max-width: 600px) {
    .menuIcon {
        display: block;
    }

    .navLinks {
        display: none;
        flex-direction: column;
        background: #2C3E50;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
        padding: 10px;
        transition: all 0.3s ease-in-out;
    }

    .navLinks.open {
        display: flex;
    }

    .links {
        padding: 10px;
        font-size: 18px;
        color: white;
    }

    .links:hover {
        background: rgba(255, 255, 255, 0.2);
    }
}



/* .navbar{
height: 60px;
background: #2C3E50;
background: -webkit-linear-gradient(to right, #FD746C, #2C3E50);
background: linear-gradient(to right, #FD746C, #2C3E50);
display: flex;
justify-content: space-between;
align-items: center;
padding: 0px 30px;
position: sticky;
top: 0;
z-index: 1000;
border-bottom: 1px solid black;
}
.logo{
    filter: brightness(0);
}
.links{
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-weight: 500;
    padding-left: 30px;
}
.links:hover{
    color: white;
} */