.navbar {
    height: 60px;
    background-color: rgb(236, 236, 236);
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navLinks {
    display: flex;
    gap: 20px;
}

.links {
    text-decoration: none;
    color: #7a6a59;
    font-size: 20px;
    font-weight: 500;
}

.links:hover {
    color: black;
    border-bottom: 1px solid gray;
}

.menuIcon {
    display: none;
    cursor: pointer;
}

.logOutBtn {
    background-color: transparent;
    padding: 6px 14px;
    border-radius: 8px;
}

@media (max-width: 600px) {
    .menuIcon {
        display: block;
    }

    .navLinks {
        display: none;
        flex-direction: column;
        background: #2C3E50;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
        padding: 10px;
        transition: all 0.3s ease-in-out;
    }

    .navLinks.open {
        display: flex;
    }

    .links {
        padding: 10px;
        font-size: 18px;
        color: white;
    }

    .links:hover {
        background: rgba(255, 255, 255, 0.2);
    }
}